			<div class="col-md-8">
				<article><table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tbody><tr><td align="left" class="body"><%= image_tag 'clear.gif', size: '1x10' %><br>
    <span class="headline">About Seventh-day Adventists</span></td>
    </tr></tbody></table><%= image_tag 'clear.gif', size: '1x10' %><br>Adventists believe a Trinity of three persons - the Father, the Son and the Holy Spirit - make up one God.  They made salvation possible when Jesus, the Son, came to earth as a baby in Bethlehem and lived a sinless life in accordance with the Father's will.  When Jesus was crucified for the sins of the people of the world and arose from the dead on the third day, victory was won for everyone.<br><br>

When He returned to heaven following the resurrection, Jesus left the Holy Spirit to serve as our Comforter and Counselor.  He promised to return to earth a second time to complete His plan of salvation and take His people to heaven.  Adventists are among the believers who look forward to that day.<br><br>

Adventists believe that God is concerned with the quality of human life, and that everything - the way we live, eat, speak, think, treat each other, and care for the world around us - is a part of His plan.  Our families, our children, our jobs, our talents, our money, and our time are all important to Him.</article>
			</div>
			<!--div id="sidebar" class="col-md-4">
				<aside></aside>
			</div-->
