<!-- h2>Peniel Seventh Day Adventist Church of Fort Myers</h2 -->

				<div id="content-left-span" class="col-sm-8">
					<div id="content-span-row" class="row">
							<div id="content-col-sm-1" class="col-sm-12"><br><p>Welcome to the Peniel Seventh-day Adventist Church (Fort Myers) in Fort Myers, Florida. We are a Christian community that would love to have you join our family. To see more about what we believe you can visit our <%= link_to 'About us', about_path %> page. Please join us for Bible study, worship and prayer.<br><br>Pastor&nbsp;Everest H. Clarke<br>Peniel Seventh-day Adventist Church (Fort Myers)<br><hr/><img src='images/join_us.jpg' border=0 align=left valign=top><br><strong>&nbsp;Join Us This Saturday</strong><br /><br><span class="subheadline">Service times:</span><br>Sabbath School: 9:15 am<br>Worship Service: 11:00 am<p><span class="subheadline">Map:</span> <A HREF="http://us.rd.yahoo.com/maps/us/insert/Tmap/extmap/*-http://maps.yahoo.com/maps_result?addr=2663+2nd+St&csz=Fort+Myers+FL+33916-2628&name=Peniel+Seventh-day+Adventist+Church+(Fort+Myers)&country=us" target="_blank">Yahoo map</A> | 

<A HREF="http://www.mapquest.com/maps/map.adp?address=2663+2nd+St&city=Fort Myers&state=FL&zipcode=33916-2628 &country=US&cid=lfmaplink">MapQuest</A> | 

<A HREF="http://maps.google.com/maps?q=2663+2nd+St%2C+Fort+Myers+FL+33916-2628">Google map</A>


</div><!-- end #content-col-sm-1 -->
					</div><!-- end #content-span-row -->
				</div><!-- end #content-left-span -->
	


<% content_for :script do %>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-5805667-1");
pageTracker._trackPageview();
</script>
<% end %>
